@import "tailwindcss";

:root {
  font-family: "Plus Jakarta Sans Variable", "Plus Jakarta Sans", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

html,
body,
#root {
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  font-family: inherit;
}

*,
*::before,
*::after,
button,
input,
textarea,
select {
  font-family: inherit;
}
